<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.withme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BOOT_COMPLETED" />

    <application
        android:name=".user.GlobalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon_main"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WithMe"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".bulletin.SelectLocationActivity"
            android:exported="false" />
        <activity
            android:name=".group.GroupDetailActivity"
            android:exported="false" />
        <activity
            android:name=".group.ProtectionPersonActivity1"
            android:exported="false" />
        <activity
            android:name=".user.FindEmailActivity2"
            android:exported="false" />
        <activity
            android:name=".group.GroupAddActivity1"
            android:exported="false" />
        <activity
            android:name=".group.GroupAddActivity2"
            android:exported="false" />
        <activity
            android:name=".group.GroupActivity6"
            android:exported="false" />
        <activity
            android:name=".user.FindPasswordActivity3"
            android:exported="false" />
        <activity
            android:name=".user.FindPasswordActivity2"
            android:exported="false" />
        <activity
            android:name=".user.FindPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".user.FindEmailActivity"
            android:exported="false" />
        <activity
            android:name=".group.GroupActivity5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.GroupActivity4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.GroupActivity3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.GroupActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.GroupActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.WebViewActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="187008367a75439b524def92790c6d59" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="pxkpa1fjug" />

        <activity
            android:name=".user.SignUpActivity4_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.SignUpActivity4_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.SignUpActivity3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.SignUpActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.SignUpActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intro.DescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intro.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>